h1{
	color: white;
	background-color: blue;
	padding: 8px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
	font-variant: small-caps;
	margin: 0px;
}
h3{
	padding: 0px;
}

h4{
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
}

th{
	
	text-align: center;
	font-family: "Arial", Gadget, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
}

#dateHeader{
	width:15%;
	padding: 10px;
	text-align: left;
}

#senderHeader{
	width:20%;
	padding: 10px;
	text-align: left;
}

#subjectHeader{
	width:65%;
	padding: 10px;
	text-align: left;
}

#bottomRow{
	margin: 0px;
	width: 100%;
}


#messageList{
	background-color: PowderBlue;
	width: 100%
}

#messageCell:{
	text-align: center;
	background-color: PowerBlue;
	padding: 0px;
}

#messageButton{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 4px;
	background-color: white;
	padding: 10px;
	transition-duration: 0.2s;
	cursor: pointer;
	
}

#messageButton:hover {
	background-color: navy;
	color: white;
}

#messageButtonDate{
	width: 15%;
	background-color: transparent;
	text-align: left;
}

#messageButtonSender{
	width: 20%;
	text-align: left;
}

#messageButtonSubject{
	width: 65%;
	text-align: left;
}

#deleteCell{
	text-align: center;
	background-color: PowderBlue;
	padding: 0px;
}

#deleteButton{
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 4px;
	background-color: white;
	padding: 10px;
	transition-duration: 0.2s;
	cursor: pointer;
}

#deleteButton:hover{
	background-color: navy;
	color: white;
}

#deleteButtonText{
	background-color: transparent;
	text-align: center;
	font-variant: small-caps;
}

.column{
	width: 100%;
	 float: right;
}

.nav{
	width: 20%;
	height: 100%;
	background-color: PowderBlue;
}

.view{
	width: 80%;
	height: 100%;
}

#inboxLabel{
	display:inline-block;
	margin-left: 20px;
	margin-right:10px;
}

#inboxCount{
	display:inline-block;
	margin-left: 20px;
	margin-right: 10px;
}



