/* "." or full stop for class
*/

h1{
	color: white;
	background-color: blue;
	padding: 8px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
	font-variant: small-caps;
	margin: 0px;
}

h2 {
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-family: "Arial", Gadget, sans-serif;
	font-variant: small-caps;
}

h3{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-family: "Arial", Gadget, sans-serif;
	font-variant: small-caps;
}

h4{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	font-family: "Arial", Gadget, sans-serif;
	font-variant: small-caps;
}

table{
	border-spacing: 0px;
	background-color: transparent;
	width: 100%
}

tr {

}

tr:hover{
	background-color: navy;
	color: white;
}

th{
	text-align: left;
	font-family: "Arial", Gadget, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-variant: small-caps;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: black;
}

#select_header{
	text-align: center;
}

td{
	font-family: "Arial", Gadget, sans-serif;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: gray;
}

.delete_cell{
	text-align: center;
	padding: 0px;
}

.container{
	display: grid;
	grid-template-columns: 200px auto;
	background-color: WhiteSmoke;
	margin: 0px;
	height: 100%;
}

#banner {
	grid-column: 1 / span 2;
}

#navigation{
	grid-column: 1
	padding-top: 10px;
	border-right: solid;
	border-color: #00FFFF;
	text-align: left;
}

#panel{
	grid-column: 2;
	overflow: hidden;
}

.navigation_button{
	display: grid;
	grid-template-columns: auto auto;
	width: 95%;
	text-align: left;
	border-style: solid;
	border-color: #E0FFFF;
	border-radius: 0px 10px 10px 0px;
	background-color: #E0FFFF;
	font-size: 16px;
	padding-left: 12px;
	transition-duration: 0.2s;
	margin-bottom: 10px;
	cursor: pointer;
}

.navigation_button:hover{
	border-color: white;
	background-color: white;
	color: black;
}

.nav_count{
	display: inline;
	text-align: right;
}

.message_body{
	background-color: white;
}